@font-face {
  font-family: "JetBrains Mono";
  src: url(./assets/JetBrainsMono-VariableFont_wght.ttf);
  font-style: normal;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url(./assets/JetBrainsMono-Italic-VariableFont_wght.ttf);
  font-style: italic;
}

html {
  background-color: #171717cc;
  color: white;
  font-family: "JetBrains Mono";
  font-variant-ligatures: no-contextual;
  white-space: nowrap;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

body::-webkit-scrollbar {
  display: none;
}

#entries {
  margin: 4px 8px;
  font-weight: lighter;
}

em {
  text-decoration: underline;
  font-weight: bold;
}

#topbar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 10px 0px;
  font-size: 18px;
  border-bottom: 1px solid #333;
}

#sidebar {
  border-right: 1px solid #333;
  width: 100px;
  height: 100%;
}